/* @font-face 선언 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 기본 스타일 */
body {
    font-family: 'Pretendard-Regular';
    background-color: #f8f7f4; /* 배경 색상 설정 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8f7f4; /* 배경 색상 설정 */
    color: #0c0c0c;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 13em; /* h1 크기 조절 */
    font-weight: 900;
    margin: 0; /* 여백 제거 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-button {
    width: 1em;
    height: auto;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #0c0c0c; /* 네비게이션 링크 색상 수정 */
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #f8f7f4; /* 배경 색상 설정 */
}

footer {
    background-color: #f8f7f4; /* 배경 색상 설정 */
    color: #0c0c0c;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    footer {
        position: static;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 3em; /* 작은 화면에서 h1 크기 조절 */
    }

    main {
        padding: 10px;
    }
}
